:root[data-theme="light"] {
  --background-color: #f9f9f9;
  --text-color: #333;
}

:root[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #f9f9f9;
}

body {
  background-color: var(--background-color);
  font-family: "Lora", serif;
  font-style: normal;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}
